
body, html {
  height: 100%;
  background-image: url("../media/backgroundImage.jpg"); /* The image used */
}

h1,h2,h3,h4,h5,h6{
	color: white;
	font-family: sans-serif;
}

#col-md-2{
	background-color: rgba(0,0,0, 0.6);
	height: 12vh;
}


.hero{
  padding-top: 20%;
  padding-bottom: 5%;

}

#mainrowone{
	background: linear-gradient(to right, rgb(51, 204, 204,0.8) 40%, rgb(0, 153, 204,0.8) 100%);
	max-width: 45%;
	max-height: 25% auto;
	margin-left: 45%;
}
#mainrowtwo{
	background: linear-gradient(to right, rgb(51, 204, 204,0.8) 40%, rgb(0, 153, 204,0.8) 100%);
	max-width: 45%;
	max-height: 40% auto;
	margin-left: 45%;

}
